.footer {
    width: 100%;
    padding: 6rem 6rem;
    background: rgba(0,0,0,.8);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    text-align: center;  
}

.footer p {
    font-size: 1.5rem;
}

.ico {
    margin-right: 25px;
}

@media screen and (max-width: 900px) {
    .footer .footer-container {
        display: flex;
        flex-direction: column;
    }
    .social {
        margin-top: 1rem;
    }
}








