.hero-img {
    background: rgba(0,0,0,0.3);
    height: 50vh;
    width: 100%;
    position: relative;
}

.hero-img:before {
    content: '';
    background: url('../assets/offer.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}