.portfolio {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio .up {
    text-align: center;
    margin: auto;
    padding: 1rem 4rem;
    max-width: 600px;
}

.portfolio .up p {
    margin: 1.2rem 0;
}

.portfolio .down {
    width: 100%;
}

.down .img-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: left;
    justify-content: center;
}

iframe {
    width: 800px;
    height: 500px;
}

.down .img {
    max-width: 100%;
    border: 1px solid #333;
}

.down .top, .middle, .bottom {
    margin-top: 10%;
 }

 @media screen and (max-width: 1140px) {
    .portfolio {
        grid-template-columns: 1fr;
    }
 }

