.portfolio {
    width: 100%;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.portfolio .left {
    text-align: center;
   
    padding: 1rem 4rem;
    max-width: 600px;
}

.portfolio .left p {
    margin: 1.2rem 0;
}

.portfolio .right {
    width: 100%;
}

.right .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img {
    max-width: 60%;
}

.right .top {
    grid-column: 1/20;
    grid-row: 1;
    padding-top: 10%;
    z-index: 6;
}

.right .bottom {
    grid-column: 1/20; 
    grid-row: 2;
    padding-top: 10%;
    z-index: 5;
}

.right .top-middle {
    grid-column: 1/20;
    grid-row: 3;
    padding-top: 10%;
    z-index: 6;
}

.right .bottom-middle {
    grid-column: 1/20; 
    grid-row: 4;
    padding-top: 10%;
    z-index: 5;
}

@media screen and (max-width: 1140px) {
    .portfolio {
        grid-template-columns: 1fr;
    }

    .portfolio .img {
        max-width: 80%;
    }

}
